#* @vtlvariable name="getters" type="javassist.CtMethod[]" *#
#* @vtlvariable name="base" type="javassist.CtClass" *#
#* @vtlvariable name="_" type="org.iternine.jeppetto.enhance.TemplateHelper" *#
#set( $baseName = $base.getName() )
#set( $Q = '"')
public $_.cls("${baseName}$DirtyableDBObject").ext($base).impl("org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject") {

    #set( $thisName = $_.clsName() )

    //-------------------------------------------------------------
    // Variables - Private
    //-------------------------------------------------------------

    $_.field("private final $baseName __delegate;")
    $_.field("private boolean __persisted;")
    $_.field("private final java.util.Map __originalValues = new java.util.HashMap();")
    $_.field("private final java.util.Map __extraValues = new java.util.HashMap();")
    $_.field("private java.util.Set __keys = new java.util.HashSet(java.util.Arrays.asList(new String[] {
        #foreach ( $getter in $getters )
            #set ( $key = $_.keyFor($getter.getName()) )
            #if ( $key.equals('id') )
                ${Q}_id${Q}#if( $velocityHasNext ),#end
            #else
                ${Q}$_.keyFor($getter.getName())${Q}#if( $velocityHasNext ),#end
            #end
            
        #end
    }));")
    $_.field("private boolean __isPartial = false;")


    //-------------------------------------------------------------
    // Constructors
    //-------------------------------------------------------------

    $_.ctor("
    public $thisName() {
        __delegate = null;
        __persisted = true;
    }")

    $_.ctor("
    public $thisName($baseName delegate) {
        __delegate = delegate;
        __persisted = false;
    }")


    //-------------------------------------------------------------
    // Methods - Delegates and overrides
    //-------------------------------------------------------------

    #foreach ( $getter in $getters )
    #set( $getterName = $getter.getName() )
    #set( $key = $_.keyFor($getterName) )
    #set( $setterName = $_.asSetter($getter) )
    #set( $returnType = $getter.getReturnType().getName() )

    $_.method("
    public $returnType $getterName() {
        return (__delegate == null) ? super.$getterName() : __delegate.$getterName();
    }")

    $_.method("
    public void $setterName($returnType value) {
        if (!__originalValues.containsKey(${Q}$key${Q})) {
            __originalValues.put(${Q}$key${Q}, org.iternine.jeppetto.enhance.ReferenceUtil.asObject($getterName()));
        }

        if (__delegate == null) {
            super.$setterName(value);
        } else {
            __delegate.$setterName(value);
        }
    }")
    #end

    $_.method("
    public String toString() {
        return (__delegate == null) ? super.toString() : __delegate.toString();
    }")


    //-------------------------------------------------------------
    // Implementation - DBObject
    //-------------------------------------------------------------

    #foreach ( $getter in $getters )
    #set ( $getterName = $getter.getName() )
    #set ( $key = $_.keyFor($getterName) )
    #set ( $returnType = $_.returnTypeOf($getter) )
    #set ( $returnTypeName = $returnType.getName() )
    #set ( $returnTypeParams = $_.returnTypeParamsOf($getter) )

    $_.method("
    private Object __${key}ToDBObject($returnTypeName o) {
        #if ( $returnTypeParams.size() == 0 )
        Class[] typeParams = new Class[0];
        #else
        Class[] typeParams = new Class[] {
        #foreach ( $returnTypeParam in $returnTypeParams )

            ${returnTypeParam.getName()}.class#if( $velocityHasNext ),#end
        #end
        };
        #end
        return org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.toDBObject(${returnTypeName}.class, o, typeParams);
    }")

    #if ( $returnType.isPrimitive() )
    $_.method("
    private $returnTypeName __${key}FromObject(Object o) {
        if (o instanceof $_.wrapperNameFor($returnType)) {
            return (($_.wrapperNameFor($returnType)) o).${returnTypeName}Value();
        } else {
            $_.createConversionMethodBody($returnType)
        }
    }")
    #elseif ( $returnType.isEnum() )
    $_.method("
    private $returnTypeName __${key}FromObject(Object o) {
        return (o == null) ? null : (${returnTypeName}) java.lang.Enum.valueOf(${returnTypeName}.class, String.valueOf(o));
    }")
    #else
    $_.method("
    private $returnTypeName __${key}FromObject(Object o) {
        #if ( $returnTypeParams.size() == 0 )
        Class[] typeParams = new Class[0];
        #else
        Class[] typeParams = new Class[] {
        #foreach ( $returnTypeParam in $returnTypeParams )

            ${returnTypeParam.getName()}.class#if( $velocityHasNext ),#end
        #end
        };
        #end
        return ($returnTypeName) org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.fromObject(${returnTypeName}.class, o, typeParams);
    }")
    #end
    #end


    $_.method("
    public Object put(String key, Object v) {
        __keys.add(key); // keys can be removed so first thing to do is restore it

        #foreach ( $getter in $getters )
        #set ( $key = $_.keyFor($getter.getName()) )
        #set ( $setterName = $_.asSetter($getter) )
        #if ( $getter.getName() == 'getId' )

        if (${Q}_id${Q}.equals(key)) {
            this.$setterName(__${key}FromObject(v instanceof org.bson.types.ObjectId ? ((org.bson.types.ObjectId) v).toString() : v));
            return v;
        }
        #else

        if (${Q}$key${Q}.equals(key)) {
            this.$setterName(__${key}FromObject(v));
            return v;
        }
        #end
        #end

        __extraValues.put(key, v);

        return v;
    }")


    $_.method("
    public Object get(String key) {
        #foreach ( $getter in $getters )
        #set ( $getterName = $getter.getName() )
        #set ( $key = $_.keyFor($getterName) )
        #if ( $getter.getName() == 'getId' )

        if (${Q}_id${Q}.equals(key)) {
            Object o = this.$getterName();
            return (o instanceof String && org.bson.types.ObjectId.isValid((String) o)) ? new org.bson.types.ObjectId((String) o) : o;
        }
        #else

        if (${Q}$key${Q}.equals(key)) {
            return this.__${key}ToDBObject(this.$getterName());
        }
        #end
        #end

        return __extraValues.get(key);
    }")


    $_.method("public void markAsPartialObject() { __isPartial = true; }")


    $_.method("public boolean isPartialObject() { return __isPartial; }")


    $_.method("
    public java.util.Set keySet() {
        return new java.util.HashSet(__keys);
    }")


    $_.method("
    public void putAll(org.bson.BSONObject from) {
        for (java.util.Iterator keyIterator = from.keySet().iterator(); keyIterator.hasNext(); ) {
            String key = (String) keyIterator.next();
    
            put(key, from.get(key));
        }
    }")


    $_.method("
    public void putAll(java.util.Map from) {
        for (java.util.Iterator keyIterator = from.keySet().iterator(); keyIterator.hasNext(); ) {
            String key = (String) keyIterator.next();

            put(key, from.get(key));
        }
    }")


    $_.method("
    public java.util.Map toMap() {
        java.util.Map map = new java.util.HashMap();

        for (java.util.Iterator keyIterator = __keys.iterator(); keyIterator.hasNext(); ) {
            String key = (String) keyIterator.next();

            map.put(key, get(key));
        }

        return map;
    }")


    $_.method("
    public boolean containsField(String s) {
        return __keys.contains(s);
    }")


    $_.method("
    public boolean containsKey(String s) {
        return this.containsField(s);
    }")


    $_.method("
    public Object removeField(String s) {
        Object v = get(s);
        __keys.remove(s);
        return v;
    }")


    $_.method("
    public boolean equals(Object other) {
        if (other instanceof com.mongodb.DBObject) {
            return toMap().equals(((com.mongodb.DBObject) other).toMap());
        } else {
            return super.equals(other);
        }
    }")


    //-------------------------------------------------------------
    // Implementation - DirtyableDBObject
    //-------------------------------------------------------------

    $_.method("
    public boolean isDirty() {
        if (__originalValues.size() > 0) {
            return true;
        }

        #foreach( $getter in $getters )
        #set ( $getterName = $getter.getName() )
        #set ( $returnType = $_.returnTypeOf($getter) )

        #if ( !$returnType.isPrimitive() && !$returnType.isEnum() && $returnType.getName() != 'java.lang.String' )
        #set ( $variableName = $_.keyFor($getterName) )

        Object __$variableName = $getterName();

        if ((__$variableName instanceof org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject
             && ((org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) __$variableName).isDirty())
            || org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.objectIsMutable(__$variableName)) {
            return true;
        }
        #end
        #end

        return false;
    }")

    $_.method("
    public void markPersisted() {
        __originalValues.clear();

        #foreach ( $getter in $getters )
        #set ( $getterName = $getter.getName() )
        #set ( $returnType = $_.returnTypeOf($getter) )

        #if ( !$returnType.isPrimitive() && !$returnType.isEnum() && $returnType.getName() != 'java.lang.String' )
        #set ( $variableName = $_.keyFor($getterName) )

        Object __$variableName = $getterName();

        if (__$variableName instanceof org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) {
            ((org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) __$variableName).markPersisted();
        }
        #end
        #end

        __persisted = true;
    }")

    $_.method("
    public boolean isPersisted() {
        return __persisted;
    }")


    //-------------------------------------------------------------
    // Methods - Other
    //-------------------------------------------------------------

    $_.method("
    public static Class __getPreEnhancedClass() {
        return ${baseName}.class;
    }")
}
