#* @vtlvariable name="getters" type="javassist.CtMethod[]" *#
#* @vtlvariable name="base" type="javassist.CtClass" *#
#* @vtlvariable name="_" type="org.iternine.jeppetto.enhance.TemplateHelper" *#
#set( $baseName = $base.getName() )
#set( $Q = '"')
public $_.cls("${baseName}$DirtyableDBObject").ext($base).impl("org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject") {

    #set( $thisName = $_.clsName() )

    //-------------------------------------------------------------
    // Variables - Private
    //-------------------------------------------------------------

    $_.field("private final $baseName __delegate;")
    $_.field("private com.mongodb.DBCollection __persistentCollection;")
    $_.field("private final java.util.Set __dirtyKeys = new java.util.HashSet();")
    $_.field("private final java.util.Map __extraValues = new java.util.HashMap();")
    $_.field("private java.util.Set __keys = new java.util.HashSet(java.util.Arrays.asList(new String[] {
        #foreach ( $getter in $getters )
            #set ( $key = $_.fieldFor($getter.getName()) )
            #if ( $key.equals('id') )
                ${Q}_id${Q}#if( $velocityHasNext ),#end
            #else
                ${Q}$_.fieldFor($getter.getName())${Q}#if( $velocityHasNext ),#end
            #end

        #end
    }));")
    $_.field("private boolean __isPartial = false;")


    //-------------------------------------------------------------
    // Constructors
    //-------------------------------------------------------------

    $_.ctor("
    public $thisName() {
        __delegate = null;
    }")

    $_.ctor("
    public $thisName($baseName delegate) {
        __delegate = delegate;
    }")


    //-------------------------------------------------------------
    // Methods - Overrides
    //-------------------------------------------------------------

    #foreach ( $getter in $getters )
    #set( $getterName = $getter.getName() )
    #set( $key = $_.fieldFor($getterName) )
    #set( $setterName = $_.asSetter($getter) )
    #set( $returnType = $getter.getReturnType().getName() )

    $_.method("
    public $returnType $getterName() {
        return (__delegate == null) ? super.$getterName() : __delegate.$getterName();
    }")

    $_.method("
    public void $setterName($returnType value) {
        __dirtyKeys.add(${Q}$key${Q});

        if (__delegate == null) {
            super.$setterName(value);
        } else {
            __delegate.$setterName(value);
        }
    }")
    #end

    $_.method("
    public String toString() {
        return (__delegate == null) ? super.toString() : __delegate.toString();
    }")


    $_.method("
    public boolean equals(Object o) {
        if (this == o) {
            return true;
        }

        if (!${baseName}.class.isInstance(o)) {
            return false;
        }

        $baseName that = (o instanceof org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject && ((org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) o).getDelegate() != null) ? ((org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) o).getDelegate() : ($baseName) o;

        return (__delegate == null) ? super.equals(that) : __delegate.equals(that);
    }")


    $_.method("
    public int hashCode() {
        return (__delegate == null) ? super.hashCode() : __delegate.hashCode();
    }")


    //-------------------------------------------------------------
    // Implementation - DBObject
    //-------------------------------------------------------------

    $_.method("
    public Object put(String key, Object v) {
        __keys.add(key); // keys can be removed so first thing to do is restore it

        #foreach ( $getter in $getters )
        #set ( $key = $_.fieldFor($getter.getName()) )
        #set ( $setterName = $_.asSetter($getter) )
        #set ( $returnType = $_.returnTypeOf($getter) )
        #set ( $returnTypeName = $returnType.getName() )

        #if ( $getter.getName() == 'getId' )
        if (${Q}_id${Q}.equals(key)) {
            #if ( $returnType.getName() == 'java.lang.String')
            this.$setterName((v instanceof org.bson.types.ObjectId) ? ((org.bson.types.ObjectId) v).toString() : (String) v);
            #elseif ( $returnType.isPrimitive() )
            ## Need coercion logic?
            this.$setterName((($_.wrapperNameFor($returnType)) v).${returnTypeName}Value());
            #else
            this.$setterName(($returnTypeName) org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.fromObject(${returnTypeName}.class, v));
            #end
            return v;
        }

        #else
        if (${Q}$key${Q}.equals(key)) {
            #if ( $returnType.isPrimitive() )
                ## Need coercion logic?
                this.$setterName((($_.wrapperNameFor($returnType)) v).${returnTypeName}Value());
            #elseif ( $returnType.isEnum() )
                this.$setterName((v == null) ? null : (${returnTypeName}) java.lang.Enum.valueOf(${returnTypeName}.class, String.valueOf(v)));
            #else
                this.$setterName(($returnTypeName) org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.fromObject(${returnTypeName}.class, v));
            #end
            return v;
        }

        #end
        #end

        __extraValues.put(key, v);

        return v;
    }")


    $_.method("
    public Object get(String key) {
        #foreach ( $getter in $getters )
        #set ( $getterName = $getter.getName() )
        #set ( $key = $_.fieldFor($getterName) )
        #set ( $returnType = $_.returnTypeOf($getter) )

        #if ( $getter.getName() == 'getId' )
        if (${Q}_id${Q}.equals(key)) {
            #if ( $returnType.getName() == 'java.lang.String')
            String s = this.$getterName();
            return org.bson.types.ObjectId.isValid(s) ? new org.bson.types.ObjectId(s) : s;
            #elseif ( $returnType.isPrimitive() )
            return $_.wrapperNameFor($returnType) .valueOf(this.$getterName());
            #else
            return org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.toDBObject(this.$getterName());
            #end
        }

        #else
        if (${Q}$key${Q}.equals(key)) {
            #if ( $returnType.isPrimitive() )
            return $_.wrapperNameFor($returnType) .valueOf(this.$getterName());
            #else
            return org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.toDBObject(this.$getterName());
            #end
        }

        #end
        #end

        return __extraValues.get(key);
    }")


    $_.method("public void markAsPartialObject() { __isPartial = true; }")


    $_.method("public boolean isPartialObject() { return __isPartial; }")


    $_.method("
    public java.util.Set keySet() {
        return new java.util.HashSet(__keys);
    }")


    $_.method("
    public void putAll(org.bson.BSONObject from) {
        for (java.util.Iterator keyIterator = from.keySet().iterator(); keyIterator.hasNext(); ) {
            String key = (String) keyIterator.next();
    
            put(key, from.get(key));
        }
    }")


    $_.method("
    public void putAll(java.util.Map from) {
        for (java.util.Iterator keyIterator = from.keySet().iterator(); keyIterator.hasNext(); ) {
            String key = (String) keyIterator.next();

            put(key, from.get(key));
        }
    }")


    $_.method("
    public java.util.Map toMap() {
        java.util.Map map = new java.util.HashMap();

        for (java.util.Iterator keyIterator = __keys.iterator(); keyIterator.hasNext(); ) {
            String key = (String) keyIterator.next();

            map.put(key, get(key));
        }

        return map;
    }")


    $_.method("
    public boolean containsField(String s) {
        return __keys.contains(s);
    }")


    $_.method("
    public boolean containsKey(String s) {
        return this.containsField(s);
    }")


    $_.method("
    public Object removeField(String s) {
        Object v = get(s);
        __keys.remove(s);
        return v;
    }")


    //-------------------------------------------------------------
    // Implementation - DirtyableDBObject
    //-------------------------------------------------------------

    $_.method("
    public boolean isDirty() {
        if (__dirtyKeys.size() > 0) {
            return true;
        }

        #foreach( $getter in $getters )
        #set ( $getterName = $getter.getName() )
        #set ( $returnType = $_.returnTypeOf($getter) )

        #if ( !$returnType.isPrimitive() && !$returnType.isEnum() && $returnType.getName() != 'java.lang.String' )
        #set ( $variableName = $_.fieldFor($getterName) )

        Object __$variableName = $getterName();

        if ((__$variableName instanceof org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject
             && ((org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) __$variableName).isDirty())
            || org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.objectIsMutable(__$variableName)) {
            return true;
        }
        #end
        #end

        return false;
    }")

    $_.method("
    public void markPersisted(com.mongodb.DBCollection dbCollection) {
        __dirtyKeys.clear();

        #foreach ( $getter in $getters )
        #set ( $getterName = $getter.getName() )
        #set ( $returnType = $_.returnTypeOf($getter) )

        #if ( !$returnType.isPrimitive() && !$returnType.isEnum() && $returnType.getName() != 'java.lang.String' )
        #set ( $variableName = $_.fieldFor($getterName) )

        Object __$variableName = $getterName();

        if (__$variableName instanceof org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) {
            ((org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) __$variableName).markPersisted(dbCollection);
        }
        #end
        #end

        __persistentCollection = dbCollection;
    }")

    $_.method("
    public boolean isPersisted(com.mongodb.DBCollection dbCollection) {
        return dbCollection.equals(__persistentCollection); ## null __persistentCollection will return false
    }")

    $_.method("
    public java.util.Iterator getDirtyKeys() {
        java.util.Set dirtyKeys = new java.util.HashSet(__dirtyKeys);

        #foreach( $getter in $getters )
        #set ( $getterName = $getter.getName() )
        #set ( $returnType = $_.returnTypeOf($getter) )

        #if ( !$returnType.isPrimitive() && !$returnType.isEnum() && $returnType.getName() != 'java.lang.String' )
        #set ( $variableName = $_.fieldFor($getterName) )

        Object __$variableName = $getterName();

        if ((__$variableName instanceof org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject
             && ((org.iternine.jeppetto.dao.mongodb.enhance.DirtyableDBObject) __$variableName).isDirty())
            || org.iternine.jeppetto.dao.mongodb.enhance.DBObjectUtil.objectIsMutable(__$variableName)) {
            dirtyKeys.add(${Q}$variableName${Q});
        }
        #end
        #end

        return dirtyKeys.iterator();
    }")


    $_.method("
    public Object getDelegate() {
        return __delegate;
    }")

##
##
##    $_.method("
##    public void includeNullValuedKeys(boolean includeNullValuedKeys) {
##        this.__includeNullValuedKeys = includeNullValuedKeys;
##    }")


    //-------------------------------------------------------------
    // Methods - Other
    //-------------------------------------------------------------

    $_.method("
    public static Class __getPreEnhancedClass() {
        return ${baseName}.class;
    }")
}
